
._cube {
    height: 20px;
    width: 20px;
    font-size: 12px;
    line-height: 20px;
}

._circle {
    height: 20px;
    width: 20px;
    line-height: 20px;
    background: #343a40;
    color: white;
    border-radius: 50%;
}